.emfytest_caption {
    background: #3399c4;
}

.card-widgets__widget-emfytest-block .card-widgets__widget__body {
    background: #3399c4;
    padding: 10px 10px 10px 21px!important;
}

.emfy_lead_products_btn {
    width: 100%;
}